body {
  font-family: "Tahoma", sans-serif;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  margin: 0;
  padding: 0;
  direction: rtl;
}

.container {
  width: 90%;
  max-width: 500px;
  background: white;
  margin: 60px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #8e44ad;
  margin-bottom: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input,
.form select,
.form textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.form button {
  background: #8e44ad;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background: #732d91;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #8e44ad;
  text-decoration: none;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
  color: #8e44ad;
}








